<div class="fluid_container">
  <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

    <div data-src="assets/header.png">
      <div class="camera_caption fadeFromBottom">
        Do you know about Traditional japanese crafts?
      </div>
    </div>

    <div data-src="assets/header.png">
      <div class="camera_caption fadeFromBottom">
        We are introduction to Traditional japanese crafts and culture.
      </div>
    </div>

    <div data-src="assets/header.png">
      <div class="camera_caption fadeFromBottom">
        Craftsmen at this site made custom traditional japanese crafts for you.
      </div>
    </div>

    <div data-src="assets/header.png">
      <div class="camera_caption fadeFromBottom">
        Lets enjoy:D
      </div>
    </div>

    <div data-src="assets/header.png">
      <div class="camera_caption fadeFromBottom">
      </div>
    </div>

  </div><!-- #camera_wrap_1 -->
</div>
