<div class="sns-box">
  <div class="fb-like" data-href="http://www.craftstyle.jp/<%= @url %>" data-width="450" data-layout="box_count" data-show-faces="true" data-send="false"></div>
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="JCraftStyle" data-related="JCraftStyle" data-hashtags="JapanCraftsStyle" data-url="http://www.craftstyle.jp/<%= @url %>">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>
  
</div><!-- /.sns-box -->
