/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_reset
 *= require admin/bootstrap_and_overrides

/*------------------------------------------------------------------------
Font
------------------------------------------------------------------------*/
 /* HeaderLogoFont */
@font-face {
    font-family:"Nothing You Could Do";
      src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v3/jpk1K3jbJoyoK0XKaSyQAXEXHkG8fPQqt_tcmM6oBg_3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
    }*/

/*------------------------------------------------------------------------
Header
------------------------------------------------------------------------*/
header {
background-color:#000;
text-align:center;
}


nav #logo{
  font-size:56px;
  font-family:'Nothing You Could Do';
  margin:50px 0;
  line-height:150px;
}

nav #logo h1{
  color:#000;
  line-height:1.2;
  letter-spacing:1px;
}

nav ul {
  display:inline;
}

nav ul li{
  float:left;
  width:30%:
}

/*------------------------------------------------------------------------
Footer
------------------------------------------------------------------------*/
#footer {
  margin:0 10px;
  margin-top:100px;
  text-align:center;
}
/*------------------------------------------------------------------------
admin/_form
------------------------------------------------------------------------*/
.area {
  width:50%;
  float:left;
}

.floatl {
  float:left;
  margin-right:10px;
}

.floatr {
  float:right;
  margin-left:10px;
}
