#sitemap {
    text-align:center;
  h2 {
    font-size:20px;
    font-weight:bold;
    margin:20px;
  }
  .contents {
    float:left;
    width:50%;
  h3 {
    font-size:14px;
    font-weight:bold;
  }
  ul {
    li {
      font-size:12px;
    }
  }
  }
}
