<% content_for(:title, "Complete! - Japan Crafts Style") -%> 
<% content_for(:description, "Thanks for message.We are introduction to Japanese traditional crafts.The craftsmen featured in this site also accept custom made orders of Japanese traditional crafts.") -%> 
<% content_for(:keywords, "japanese, japanstyle, japanese painting, custom, japanese crafts, 伝統工芸") -%> 

<h2>Complete</h2>
<br>
<p>Thanks for message!</p>
